body {
  -webkit-font-smoothing: none; }

.block.ic:before {
  display: inline-block;
  content: "";
  margin-top: 3px;
  width: 16px;
  height: 16px;
  background: #c5c8c6; }

.block.ic-0:before {
  -webkit-mask-box-image: url(icons/term.png); }

.block.ic.fg-0:before {
  background: #282828; }

.block.ic-1:before {
  -webkit-mask-box-image: url(icons/net.png); }

.block.ic.fg-1:before {
  background: #c5c8c6; }

.block.ic-2:before {
  -webkit-mask-box-image: url(icons/chat.png); }

.block.ic.fg-2:before {
  background: #1d1f21; }

.block.ic-3:before {
  -webkit-mask-box-image: url(icons/battery.png); }

.block.ic.fg-3:before {
  background: #eeeeee; }

.block.ic-4:before {
  -webkit-mask-box-image: url(icons/clock.png); }

.block.ic.fg-4:before {
  background: #f25a4f; }

.block.ic-5:before {
  -webkit-mask-box-image: url(icons/cpu.png); }

.block.ic.fg-5:before {
  background: #68c280; }

.block.ic-6:before {
  -webkit-mask-box-image: url(icons/disk.png); }

.block.ic.fg-6:before {
  background: #e98b28; }

.block.ic-7:before {
  -webkit-mask-box-image: url(icons/ghost.png); }

.block.ic.fg-7:before {
  background: #a2d060; }

.block.ic-8:before {
  -webkit-mask-box-image: url(icons/invader.png); }

.block.ic.fg-8:before {
  background: #0495d3; }

.block.ic-9:before {
  -webkit-mask-box-image: url(icons/mail.png); }

.block.ic.fg-9:before {
  background: #966aac; }

body {
  background: #333333;
  color: #c5c8c6;
  line-height: 22px;
  font-family: "Tamzen6x12", "monaco";
  margin: 0; }

.sections {
  position: relative;
  overflow: hidden;
  height: 22px;
  background: #282828; }

.center, .left, .right {
  font-size: 0; }

.center {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center; }

.right {
  float: right; }

.left .block {
  float: left; }

.block {
  display: inline-block;
  white-space: pre;
  font-size: 12px;
  vertical-align: top;
  height: 22px;
  position: relative; }
  .block.ul {
    height: 20px;
    border-bottom: 2px solid transparent; }
  .block.bg-0 {
    background: #282828; }
  .block.fg-0 {
    color: #282828; }
  .block.ul-0 {
    border-bottom-color: #282828; }
  .block.bg-1 {
    background: #c5c8c6; }
  .block.fg-1 {
    color: #c5c8c6; }
  .block.ul-1 {
    border-bottom-color: #c5c8c6; }
  .block.bg-2 {
    background: #1d1f21; }
  .block.fg-2 {
    color: #1d1f21; }
  .block.ul-2 {
    border-bottom-color: #1d1f21; }
  .block.bg-3 {
    background: #eeeeee; }
  .block.fg-3 {
    color: #eeeeee; }
  .block.ul-3 {
    border-bottom-color: #eeeeee; }
  .block.bg-4 {
    background: #f25a4f; }
  .block.fg-4 {
    color: #f25a4f; }
  .block.ul-4 {
    border-bottom-color: #f25a4f; }
  .block.bg-5 {
    background: #68c280; }
  .block.fg-5 {
    color: #68c280; }
  .block.ul-5 {
    border-bottom-color: #68c280; }
  .block.bg-6 {
    background: #e98b28; }
  .block.fg-6 {
    color: #e98b28; }
  .block.ul-6 {
    border-bottom-color: #e98b28; }
  .block.bg-7 {
    background: #a2d060; }
  .block.fg-7 {
    color: #a2d060; }
  .block.ul-7 {
    border-bottom-color: #a2d060; }
  .block.bg-8 {
    background: #0495d3; }
  .block.fg-8 {
    color: #0495d3; }
  .block.ul-8 {
    border-bottom-color: #0495d3; }
  .block.bg-9 {
    background: #966aac; }
  .block.fg-9 {
    color: #966aac; }
  .block.ul-9 {
    border-bottom-color: #966aac; }
