/**
 * ARROW
 * These styles are used for every single arrow
 */
.arrow-in, .arrow-out {
  top: 0;
  height: 22px;
  display: block;
  position: absolute; }
  .arrow-in:before, .arrow-out:before, .arrow-in:after, .arrow-out:after {
    top: 0;
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent; }

/**
 * ARROW BLOCK
 * This goes on the .arrow-in, .arrow-out divs
 */
body {
  background: #404041;
  margin: 0; }

/**
 * SECTIONS
 * The left, right and center containers that hold blocks
 */
.sections {
  background: #6d6e71;
  font-size: 0;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 0 0 0px #545557; }

/**
 * BLOCK
 * A single block of text
 */
.block {
  display: inline-block;
  position: relative; }
  .block.bg-0 .text {
    background: #6d6e71;
    border-top: 0px solid #545557;
    border-bottom: 0px solid #545557; }
    .block.bg-0 .text:before, .block.bg-0 .text:after {
      background: #545557; }
  .block.fg-0 .text {
    color: #6d6e71; }
  .block.ul-0 .text {
    border-bottom-color: #6d6e71; }
  .block.bg-1 .text {
    background: #eeeeee;
    border-top: 0px solid #d4d4d4;
    border-bottom: 0px solid #d4d4d4; }
    .block.bg-1 .text:before, .block.bg-1 .text:after {
      background: #d4d4d4; }
  .block.fg-1 .text {
    color: #eeeeee; }
  .block.ul-1 .text {
    border-bottom-color: #eeeeee; }
  .block.bg-2 .text {
    background: #1d1f21;
    border-top: 0px solid #050606;
    border-bottom: 0px solid #050606; }
    .block.bg-2 .text:before, .block.bg-2 .text:after {
      background: #050606; }
  .block.fg-2 .text {
    color: #1d1f21; }
  .block.ul-2 .text {
    border-bottom-color: #1d1f21; }
  .block.bg-3 .text {
    background: #c5c8c6;
    border-top: 0px solid #abafac;
    border-bottom: 0px solid #abafac; }
    .block.bg-3 .text:before, .block.bg-3 .text:after {
      background: #abafac; }
  .block.fg-3 .text {
    color: #c5c8c6; }
  .block.ul-3 .text {
    border-bottom-color: #c5c8c6; }
  .block.bg-4 .text {
    background: #ac4142;
    border-top: 0px solid #873334;
    border-bottom: 0px solid #873334; }
    .block.bg-4 .text:before, .block.bg-4 .text:after {
      background: #873334; }
  .block.fg-4 .text {
    color: #ac4142; }
  .block.ul-4 .text {
    border-bottom-color: #ac4142; }
  .block.bg-5 .text {
    background: #90a959;
    border-top: 0px solid #748847;
    border-bottom: 0px solid #748847; }
    .block.bg-5 .text:before, .block.bg-5 .text:after {
      background: #748847; }
  .block.fg-5 .text {
    color: #90a959; }
  .block.ul-5 .text {
    border-bottom-color: #90a959; }
  .block.bg-6 .text {
    background: #de935f;
    border-top: 0px solid #d57635;
    border-bottom: 0px solid #d57635; }
    .block.bg-6 .text:before, .block.bg-6 .text:after {
      background: #d57635; }
  .block.fg-6 .text {
    color: #de935f; }
  .block.ul-6 .text {
    border-bottom-color: #de935f; }
  .block.bg-7 .text {
    background: #f0c674;
    border-top: 0px solid #ebb346;
    border-bottom: 0px solid #ebb346; }
    .block.bg-7 .text:before, .block.bg-7 .text:after {
      background: #ebb346; }
  .block.fg-7 .text {
    color: #f0c674; }
  .block.ul-7 .text {
    border-bottom-color: #f0c674; }
  .block.bg-8 .text {
    background: #6a9fb4;
    border-top: 0px solid #4f869c;
    border-bottom: 0px solid #4f869c; }
    .block.bg-8 .text:before, .block.bg-8 .text:after {
      background: #4f869c; }
  .block.fg-8 .text {
    color: #6a9fb4; }
  .block.ul-8 .text {
    border-bottom-color: #6a9fb4; }
  .block.bg-9 .text {
    background: #d1d2d4;
    border-top: 0px solid #b7b8bb;
    border-bottom: 0px solid #b7b8bb; }
    .block.bg-9 .text:before, .block.bg-9 .text:after {
      background: #b7b8bb; }
  .block.fg-9 .text {
    color: #d1d2d4; }
  .block.ul-9 .text {
    border-bottom-color: #d1d2d4; }

/**
 * TEXT
 * The text
 */
.text {
  display: block;
  color: #eeeeee;
  font-size: 14px;
  height: 22px;
  line-height: 22px;
  font-family: "tamzen7x14";
  background: #6d6e71;
  padding: 0 8px;
  border-top: 0px solid #545557;
  border-bottom: 0px solid #545557;
  box-sizing: border-box; }
  .text::before, .text:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 0px;
    height: 22px;
    background: #545557; }
  .text:before {
    z-index: 5; }
  .text:after {
    z-index: 15; }

/**
 * ARROWS
 */
.arrow-in {
  width: 8px;
  background: #404041; }
  .arrow-in:before, .arrow-in:after {
    z-index: 10; }
  .left .arrow-in:before, .left .arrow-in:after {
    left: 100%; }
  .left .bg-0 .arrow-in:before {
    border-left: 6px solid #545557; }
  .left .bg-1 .arrow-in:before {
    border-left: 6px solid #d4d4d4; }
  .left .bg-2 .arrow-in:before {
    border-left: 6px solid #050606; }
  .left .bg-3 .arrow-in:before {
    border-left: 6px solid #abafac; }
  .left .bg-4 .arrow-in:before {
    border-left: 6px solid #873334; }
  .left .bg-5 .arrow-in:before {
    border-left: 6px solid #748847; }
  .left .bg-6 .arrow-in:before {
    border-left: 6px solid #d57635; }
  .left .bg-7 .arrow-in:before {
    border-left: 6px solid #ebb346; }
  .left .bg-8 .arrow-in:before {
    border-left: 6px solid #4f869c; }
  .left .bg-9 .arrow-in:before {
    border-left: 6px solid #b7b8bb; }
  .left .arrow-in:before {
    border-left: 6px solid #545557; }
  .left .arrow-in:after {
    margin-left: 0px;
    border-left: 6px solid #404041; }
  .right .arrow-in:before, .right .arrow-in:after {
    right: 100%; }
  .right .bg-0 .arrow-in:before {
    border-right: 6px solid #545557; }
  .right .bg-1 .arrow-in:before {
    border-right: 6px solid #d4d4d4; }
  .right .bg-2 .arrow-in:before {
    border-right: 6px solid #050606; }
  .right .bg-3 .arrow-in:before {
    border-right: 6px solid #abafac; }
  .right .bg-4 .arrow-in:before {
    border-right: 6px solid #873334; }
  .right .bg-5 .arrow-in:before {
    border-right: 6px solid #748847; }
  .right .bg-6 .arrow-in:before {
    border-right: 6px solid #d57635; }
  .right .bg-7 .arrow-in:before {
    border-right: 6px solid #ebb346; }
  .right .bg-8 .arrow-in:before {
    border-right: 6px solid #4f869c; }
  .right .bg-9 .arrow-in:before {
    border-right: 6px solid #b7b8bb; }
  .right .arrow-in:before {
    border-right: 6px solid #545557; }
  .right .arrow-in:after {
    margin-right: 0px;
    border-right: 6px solid #404041; }

.arrow-out:before, .arrow-out:after {
  z-index: 20; }
.left .arrow-out:before, .left .arrow-out:after {
  left: 100%; }
.left .bg-0 .arrow-out:before {
  border-left: 6px solid #545557; }
.left .bg-0 .arrow-out:after {
  border-left: 6px solid #6d6e71; }
.left .bg-1 .arrow-out:before {
  border-left: 6px solid #d4d4d4; }
.left .bg-1 .arrow-out:after {
  border-left: 6px solid #eeeeee; }
.left .bg-2 .arrow-out:before {
  border-left: 6px solid #050606; }
.left .bg-2 .arrow-out:after {
  border-left: 6px solid #1d1f21; }
.left .bg-3 .arrow-out:before {
  border-left: 6px solid #abafac; }
.left .bg-3 .arrow-out:after {
  border-left: 6px solid #c5c8c6; }
.left .bg-4 .arrow-out:before {
  border-left: 6px solid #873334; }
.left .bg-4 .arrow-out:after {
  border-left: 6px solid #ac4142; }
.left .bg-5 .arrow-out:before {
  border-left: 6px solid #748847; }
.left .bg-5 .arrow-out:after {
  border-left: 6px solid #90a959; }
.left .bg-6 .arrow-out:before {
  border-left: 6px solid #d57635; }
.left .bg-6 .arrow-out:after {
  border-left: 6px solid #de935f; }
.left .bg-7 .arrow-out:before {
  border-left: 6px solid #ebb346; }
.left .bg-7 .arrow-out:after {
  border-left: 6px solid #f0c674; }
.left .bg-8 .arrow-out:before {
  border-left: 6px solid #4f869c; }
.left .bg-8 .arrow-out:after {
  border-left: 6px solid #6a9fb4; }
.left .bg-9 .arrow-out:before {
  border-left: 6px solid #b7b8bb; }
.left .bg-9 .arrow-out:after {
  border-left: 6px solid #d1d2d4; }
.left .arrow-out:before {
  border-left: 6px solid #545557; }
.left .arrow-out:after {
  margin-left: 0px;
  border-left: 6px solid #6d6e71; }
.right .arrow-out:before, .right .arrow-out:after {
  right: 100%; }
.right .bg-0 .arrow-out:before {
  border-right: 6px solid #545557; }
.right .bg-0 .arrow-out:after {
  border-right: 6px solid #6d6e71; }
.right .bg-1 .arrow-out:before {
  border-right: 6px solid #d4d4d4; }
.right .bg-1 .arrow-out:after {
  border-right: 6px solid #eeeeee; }
.right .bg-2 .arrow-out:before {
  border-right: 6px solid #050606; }
.right .bg-2 .arrow-out:after {
  border-right: 6px solid #1d1f21; }
.right .bg-3 .arrow-out:before {
  border-right: 6px solid #abafac; }
.right .bg-3 .arrow-out:after {
  border-right: 6px solid #c5c8c6; }
.right .bg-4 .arrow-out:before {
  border-right: 6px solid #873334; }
.right .bg-4 .arrow-out:after {
  border-right: 6px solid #ac4142; }
.right .bg-5 .arrow-out:before {
  border-right: 6px solid #748847; }
.right .bg-5 .arrow-out:after {
  border-right: 6px solid #90a959; }
.right .bg-6 .arrow-out:before {
  border-right: 6px solid #d57635; }
.right .bg-6 .arrow-out:after {
  border-right: 6px solid #de935f; }
.right .bg-7 .arrow-out:before {
  border-right: 6px solid #ebb346; }
.right .bg-7 .arrow-out:after {
  border-right: 6px solid #f0c674; }
.right .bg-8 .arrow-out:before {
  border-right: 6px solid #4f869c; }
.right .bg-8 .arrow-out:after {
  border-right: 6px solid #6a9fb4; }
.right .bg-9 .arrow-out:before {
  border-right: 6px solid #b7b8bb; }
.right .bg-9 .arrow-out:after {
  border-right: 6px solid #d1d2d4; }
.right .arrow-out:before {
  border-right: 6px solid #545557; }
.right .arrow-out:after {
  margin-right: 0px;
  border-right: 6px solid #6d6e71; }

/**
 * LEFT AND RIGHT SECTIONS
 * Special magic stuff
 */
.left {
  float: left;
  position: relative;
  background: #404041; }
  .left .arrow-in {
    left: -8px; }
  .left .arrow-out {
    right: 0px; }
  .left .text {
    padding-left: 14px; }
    .left .text:before {
      left: 0; }
    .left .text:after {
      left: 100%; }
  .left .block {
    margin-right: 8px; }
  .left .block:first-child .arrow-in {
    display: none; }
  .left .block:first-child .text {
    padding-left: 8px; }
  .left:before, .left:after {
    left: 100%;
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    z-index: 10;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent; }
  .left:before {
    border-left: 6px solid #545557; }
  .left:after {
    margin-left: 0px;
    border-left: 6px solid #404041; }

.right {
  float: right;
  position: relative;
  background: #404041; }
  .right .arrow-in {
    right: -8px; }
  .right .arrow-out {
    left: 0px; }
  .right .text {
    padding-right: 14px; }
    .right .text:before {
      right: 0; }
    .right .text:after {
      right: 100%; }
  .right .block {
    margin-left: 8px; }
  .right .block:last-child .arrow-in {
    display: none; }
  .right .block:last-child .text {
    padding-right: 8px; }
  .right:before, .right:after {
    right: 100%;
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    z-index: 10;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent; }
  .right:before {
    border-right: 6px solid #545557; }
  .right:after {
    margin-right: 0px;
    border-right: 6px solid #404041; }

/**
 * CENTER
 * The section in the center doesn't get arrows
 */
.center {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center; }
  .center .text:before, .center .text:after {
    width: 3px;
    background: #404041 !important; }
  .center .text:before {
    left: 0; }
  .center .text:after {
    right: 0; }
  .center .block:first-child .text:before {
    width: 6px;
    left: -6px;
    border-left: 0px solid #545557;
    border-right: 0px solid #545557; }
  .center .block:first-child.bg-0 .text:before {
    border-right-color: #545557; }
  .center .block:first-child.bg-1 .text:before {
    border-right-color: #d4d4d4; }
  .center .block:first-child.bg-2 .text:before {
    border-right-color: #050606; }
  .center .block:first-child.bg-3 .text:before {
    border-right-color: #abafac; }
  .center .block:first-child.bg-4 .text:before {
    border-right-color: #873334; }
  .center .block:first-child.bg-5 .text:before {
    border-right-color: #748847; }
  .center .block:first-child.bg-6 .text:before {
    border-right-color: #d57635; }
  .center .block:first-child.bg-7 .text:before {
    border-right-color: #ebb346; }
  .center .block:first-child.bg-8 .text:before {
    border-right-color: #4f869c; }
  .center .block:first-child.bg-9 .text:before {
    border-right-color: #b7b8bb; }
  .center .block:last-child .text:after {
    width: 6px;
    right: -6px;
    border-right: 0px solid #545557;
    border-left: 0px solid #545557; }
  .center .block:last-child.bg-0 .text:after {
    border-left-color: #545557; }
  .center .block:last-child.bg-1 .text:after {
    border-left-color: #d4d4d4; }
  .center .block:last-child.bg-2 .text:after {
    border-left-color: #050606; }
  .center .block:last-child.bg-3 .text:after {
    border-left-color: #abafac; }
  .center .block:last-child.bg-4 .text:after {
    border-left-color: #873334; }
  .center .block:last-child.bg-5 .text:after {
    border-left-color: #748847; }
  .center .block:last-child.bg-6 .text:after {
    border-left-color: #d57635; }
  .center .block:last-child.bg-7 .text:after {
    border-left-color: #ebb346; }
  .center .block:last-child.bg-8 .text:after {
    border-left-color: #4f869c; }
  .center .block:last-child.bg-9 .text:after {
    border-left-color: #b7b8bb; }
  .center .arrow-in,
  .center .arrow-out {
    display: none; }
