// COLORS
$colors: (
  // #151515, // 0. background
  #212E39,
  #719DD9, // 1. foreground
  // #282A2E, // 2. grey bg
  #233243,
  #707880, // 3. grey fg
  #AC4142, // 4. red
  #90A959, // 5. green
  #DE935F, // 6. orange
  #F0C674, // 7. yellow
  #6A9FB5, // 8. blue
  #AA759F  // 9. magenta
);

$height: 22px;
$underline_height: 2px;
$font-size: 14px;
$font-family: 'tamzen7x14';
$border: rgba(255,255,255,0.1);

// Returns a color based on the zero index
@function color($index) {
  @return nth($colors, $index + 1);
}

body {
  background: color(0);
  color: color(1);
  line-height: $height;
  font-family: $font-family;
  margin: 0;
}

.sections {
  height: $height;
  box-shadow: inset 0 0 0 1px $border;
}

section {
  min-height: 1px;
  width: 33.33%;
  float: left;
  box-sizing: border-box;
  font-size: 0;
}

span {
  display: inline-block;
  white-space: pre;
  font-size: $font-size;
  vertical-align: top;
  height: $height;
  position: relative;

  &:after {
    display: block;
    content: '';
    position: absolute;
    top: -1px;
    bottom: -1px;
    width: 2px;
    background: rgba(0,0,0,0.2);
    border-left: 1px solid $border;
    border-right: 1px solid $border;
    margin-left: -1px;
    margin-right: -1px;
  }

  &.ul {
    height: $height - $underline_height;
    border-bottom: $underline_height solid transparent;
  }

  @for $i from 0 to 10 {
    &.bg-#{$i} {
      background: color($i);
    }
    &.fg-#{$i} {
      color: color($i);
    }
    &.ul-#{$i} {
      border-bottom-color: color($i);
    }
  }
}

.left {
  text-align: left;

  span {
    margin-right: 2px;
  }

  span:after {
    left: 100%;
  }
}

.center {
  text-align: center;
  span:after {
    display: none;
  }
}

.right {
  text-align: right;
  span {
    margin-left: 2px;
  }
  span:after {
    right: 100%;
  }
}