body {
  background: #151515;
  color: #c5c8c6;
  font-size: 17px;
  line-height: 26px;
  font-family: 'Tamzen';
  margin: 0; }

section {
  min-height: 1px;
  width: 33.33%;
  float: left;
  box-sizing: border-box; }

span {
  display: inline-block;
  white-space: pre; }

span.bg-0 {
  background: #151515; }

span.fg-0 {
  color: #151515; }

span.ul-0 {
  height: 24px;
  border-bottom: 2px solid #151515; }

span.bg-1 {
  background: #c5c8c6; }

span.fg-1 {
  color: #c5c8c6; }

span.ul-1 {
  height: 24px;
  border-bottom: 2px solid #c5c8c6; }

span.bg-2 {
  background: #282a2e; }

span.fg-2 {
  color: #282a2e; }

span.ul-2 {
  height: 24px;
  border-bottom: 2px solid #282a2e; }

span.bg-3 {
  background: #707880; }

span.fg-3 {
  color: #707880; }

span.ul-3 {
  height: 24px;
  border-bottom: 2px solid #707880; }

span.bg-4 {
  background: #ac4142; }

span.fg-4 {
  color: #ac4142; }

span.ul-4 {
  height: 24px;
  border-bottom: 2px solid #ac4142; }

span.bg-5 {
  background: #90a959; }

span.fg-5 {
  color: #90a959; }

span.ul-5 {
  height: 24px;
  border-bottom: 2px solid #90a959; }

span.bg-6 {
  background: #de935f; }

span.fg-6 {
  color: #de935f; }

span.ul-6 {
  height: 24px;
  border-bottom: 2px solid #de935f; }

span.bg-7 {
  background: #f0c674; }

span.fg-7 {
  color: #f0c674; }

span.ul-7 {
  height: 24px;
  border-bottom: 2px solid #f0c674; }

span.bg-8 {
  background: #6a9fb5; }

span.fg-8 {
  color: #6a9fb5; }

span.ul-8 {
  height: 24px;
  border-bottom: 2px solid #6a9fb5; }

span.bg-9 {
  background: #aa759f; }

span.fg-9 {
  color: #aa759f; }

span.ul-9 {
  height: 24px;
  border-bottom: 2px solid #aa759f; }

.left {
  text-align: left; }

.center {
  text-align: center; }

.right {
  text-align: right; }
